<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #0dcaf0;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class='bx bx-home' ></i> Project 1</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('newproperty') }}">New Property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('displayproperties') }}">Properties</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="notifbar">
  {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
       <ul class="flashes">
       {% for category, message in messages %}
       <li style= "background-color: #70d419;" class="{{ category }}">{{ message }}</li>
       {% endfor %}
       </ul>
       {% endif %}
      {% endwith %}
</nav>